$blue:#108ee9;
$lightBlue:#d2eafb;
$paleBlue:#ecf6fd;

$green:#00a854;
$lightGreen:#cfefdf;
$paleGreen:#ebf8f2;

$yellow:#ffbf00;
$lightYellow:#fff3cf;
$paleYellow:#fffaeb;

$red:#f04134;
$lightRed:#fcdbd9;
$paleRed:#fef0ef;


@mixin floatFun(){
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    zoom: 1;
}
@mixin nowrap(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin box(){
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

@mixin transite($attrName:all,$duration:0.35s){
	transition: $attrName $duration;
	-moz-transition: $attrName $duration;
	-webkit-transition: $attrName $duration;
	-o-transition: $attrName $duration;
}